asttokens==2.0.5
colored==1.4.2
coverage==5.5
pudb==2021.1
pyflakes==2.3.1
Pygments==2.10.0
Sphinx==4.1.2
sphinx-argparse==0.3.1
sphinx-rtd-theme==0.5.2
tox==3.24.3
twine==3.4.2
urwid==2.1.2
waelstow==0.10.2
